$c-white: #fdfdfd;
$c-purple-light: #ceb2f6;
$c-purple: #6013cc;
$c-black: #3c3c3c;
$c-yellow-light: #fffac5;
$c-yellow: #fff36a;
$c-orange: #ffb153;
$c-green-dark: #215826;
$c-green: #accd6b;
$c-gray: #dbdbdb;


$f-option: 25px 'Raleway', sans-serif;
$f-option-mob: 20px 'Raleway', sans-serif;
$f-question: 20px 'Raleway', sans-serif;
$f-question-mob: 15px 'Raleway', sans-serif;
$f-a: 30px 'Raleway', sans-serif;
$f-a-mob: 20px 'Raleway', sans-serif;
$f-h1: 500 40px 'Raleway', sans-serif;
$f-h1-mob: 400 30px 'Raleway', sans-serif;
$f-h2: 400 18px 'Raleway', sans-serif;
