@import 'reset';
@import 'var';
@import 'home';

#app {
  height: 100%;
}

.main-view {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

// .question-wrapper {
// }

.main-wrapper {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  box-shadow: 0px 4px 15px -6px rgba(0, 0, 0, 0.5);
}

.score {
  font: $f-h1;
  margin-bottom: 30px;
}

.start-a {
  margin-bottom: 40px;
  padding: 15px 35px;
  border-radius: 50px;
  font: $f-a;
  text-decoration: none;
  color: $c-white;
  background-color: $c-black;
  text-align: center;
  transition: background-color .07s;
  
  &:hover {
    background-color: $c-purple;
  }
}

.headline {
  font: $f-h1;
  text-align: center;
}